@page "/"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using BlazorWeightTracker.Shared
@attribute [Authorize]
@inject HttpClient Http

<AuthorizeView>
    <h3>Hello @context.User.Identity.Name</h3>
</AuthorizeView>