@page "/"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using BlazorWeightTracker.Shared
@attribute [Authorize]
@inject HttpClient Http

<h1>Home</h1>